extends layouts/application

block content
  .contact
    .map.hidden-xs
      <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:100%;width:100%;'><div id='gmap_canvas' style='height:100%;width:100%;'></div><div><small></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:11,center:new google.maps.LatLng(47.237829,5.8099564),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(47.237829,6.024053900000013)});infowindow = new google.maps.InfoWindow({content:'<strong>Besançon et Alentours</strong><br>Besançon, France<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    .container
      .contact-form
        .bg
        h2 Contact
        address
          strong #{title} - Célia Aubertin
          span.visible-xs
            br
            | Besançon et alentours
          br
          | <a href="tel:+33652294136">(+33) 6 52 29 41 36</a>
          br
          | <a href="mailto:smartdogs.educanine@gmail.com">smartdogs.educanine@gmail.com</a>

        form(action="/contact" method="post" accept-charset="UTF-8" novalidate="novalidate")
          - if (success)
            .alert.alert-success.message-sent
              button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
              | #{success}
            script(type='text/javascript').
              setTimeout(function() { $('.message-sent').fadeOut(400) }, 5000);
          .form-group(class=(errors.name ? "has-error" : ""))
            input.form-control(type="text" name="name" placeholder="Nom complet" autofocus="1" value=params.name)
            - if (errors.name)
              span.help-block #{errors.name}
          .form-group(class=(errors.email ? "has-error" : ""))
            input.form-control(type="email" name="email" placeholder="Email" value=params.email)
            - if (errors.email)
              span.help-block #{errors.email}
          .form-group(class=(errors.origin ? "has-error" : ""))
            select(name="origin").form-control
              option(value="") - Comment m'avez-vous trouvé ? -
              option(value="internet" selected='internet' === params.origin) Via internet
              option(value="friend" selected='friend' === params.origin) Via un ami
              option(value="other" selected='other' === params.origin) Autre
            - if (errors.origin)
              span.help-block #{errors.origin}
          .form-group(class=(errors.message ? "has-error" : ""))
            label(for="textarea") Message&nbsp;
            textarea.form-control(name="message" rows="4")
              | #{params.message}
            - if (errors.message)
              span.help-block #{errors.message}

          button.btn.btn-primary.btn-block(type="submit")
            .fa.fa-spinner.fa-pulse
            | Envoyer
