extends layouts/application

block content
  #mypopup.popup.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          .row
            .col-md-8
              h4.modal-title Ajouter votre equipe
            .col-md-4
              button.close(type='button' data-dismiss='modal') &times;
        .modal-body
          .popup-form
            .bg
            h4 Pour ajouter votre équipe, merci de remplir les champs suivant.
            br
            form(action='/teams/' method='post' accept-charset="UTF-8" novalidate="novalidate")
              - if (success)
                .alert.alert-success.message-sent
                  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
                  | #{success}
              - if (errors.error)
                .alert.alert-danger.message-error
                  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
                  | #{errors.error}
              != messages('my_message_flash', locals)
              .form-group(class=(errors.nameTeam ? "has-error" : ""))
                input.form-control(type="text" name="nameTeam" placeholder="Nom de l'équipe" autofocus="1" value=params.nameTeam)
                - if (errors.nameTeam)
                  span.help-block #{errors.nameTeam}
              button.btn.btn-primary(type="submit")
                .fa.fa-spinner.fa-pulse
                | Envoyer
              .clearfix
        .modal-footer
          button(type='button', class='btn btn-default', data-dismiss='modal') Close
  .inscription
    .container
      .inscription-form
        .bg
        h2 Inscription
        address
          strong #{company.name} - Nicolas VATIN
          span.visible-xs
            br
            | Besançon et alentours
          br
          | <a href="tel:#{company.phone.replace(/[()\s]/g, '')}">#{company.phone}</a>
          br
          | <a href="mailto:#{company.email}">#{company.email}</a>

        form(action="/indivInscription" method="post" accept-charset="UTF-8" novalidate="novalidate")
          - if (success)
            .alert.alert-success.message-sent
              button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
              | #{success}
          - if (errors.error)
            .alert.alert-danger.message-error
              button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                span(aria-hidden="true") &times;
              | #{errors.error}
          != messages('my_message_flash', locals)
          .form-group(class=(errors.name ? "has-error" : ""))
            input.form-control(type="text" name="name" placeholder="Nom complet" autofocus="1" value=params.name)
            - if (errors.name)
              span.help-block #{errors.name}
          .form-group(class=(errors.firstname ? "has-error" : ""))
            input.form-control(type="text" name="firstname" placeholder="Prénom" autofocus="1" value=params.firstname)
            - if (errors.firstname)
              span.help-block #{errors.firstname}
          .form-group(class=(errors.birthday ? "has-error" : ""))
            input.form-control(type="date" name="birthday" placeholder="Date de Naissance" autofocus="1" value=params.birthday)
            - if (errors.birthday)
              span.help-block #{errors.birthday}
          .form-group(class=(errors.displayImage ? "has-error" : ""))
            input.form-control(type="file" name="displayImage" placeholder="Votre photo" autofocus="1" value=params.displayImage accept="image/*")
            - if (errors.birthday)
              span.help-block #{errors.displayImage}
          .form-group(class=(errors.email ? "has-error" : ""))
            input.form-control(type="email" name="email" placeholder="Email" value=params.email)
            - if (errors.email)
              span.help-block #{errors.email}
          .row
            .col-md-8.col-xs-8
              .form-group(class=(errors.team ? "has-error" : ""))
                select(name="nameTeam").form-control
                  option(value="") - Quelle est votre équipe ? -
                  each nameTeam in teams
                    option(value=nameTeam selected=nameTeam === params.nameTeam) #{nameTeam}
                - if (errors.nameTeam)
                  span.help-block #{errors.nameTeam}
            .col-md-2.col-xs-2.col-xs-offset-2.col-md-offset-2
              button.btn.btn-primary.btn-sm(type='button' data-toggle='modal' data-target='#mypopup') +

          .captcha-wrapper
            != captcha
          button.btn.btn-primary(type="submit")
            .fa.fa-spinner.fa-pulse
            | Envoyer
          .clearfix
