extends layouts/application

block content
  .container.player.editorial.checkbox-form
    table.table.table-striped
      tbody
        tr
          td Id
          td Nom
          td Prénom
          td Date de naissance
          td Equipe
          td
        each player in players
          tr(id=player.idPlayers)
            td #{player.idPlayers}
            td #{player.name}
            td #{player.firstname}
            td
              span= moment(player.birthday).format("DD/MM/YYYY")
            td #{player.idTeam}
            td
              input(type='checkbox', name='modification', value=player.idPlayers, onClick=(user ? "CheckBoxForm.openChange(this.value)" : ""))
              button(class='glyphicon glyphicon-ok', value=player.idPlayers, style='display: true')
              button(class='glyphicon glyphicon-remove', value=player.idPlayers, style='display: none')
